url = "/b-cubed-hackathon"
layout = "default"
title = "B-Cubed Hackathon"

[siteSearchInclude]

[jumbotron event_banner]
jumbotron = "hackathon"
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron the_hackathon]
jumbotron = "the_hackathon_intro"
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron focus]
jumbotron = "focus"
title = 1
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron expenses]
jumbotron = "expenses"
title = 1
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron how]
jumbotron = "how-does-it-work"
title = 1
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron venue]
jumbotron = "venue"
title = 1
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron the_hackathon_banner]
jumbotron = "hackathon-banner"
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron the_hackathon_txt]
jumbotron = "hackathon_text"
title = 0
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron how-apply]
jumbotron = "how-apply"
title = 1
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron how-get-there]
jumbotron = "how-get-there"
title = 0
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron accommodation-options]
jumbotron = "accommodation-options"
title = 0
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron guidelines]
jumbotron = "guidelines"
title = 0
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron general-contact]
jumbotron = "general-contact"
title = 1
background = "transperant"
templates = "template3"
description_limit = 0
==
<?php
use Pensoft\Accordions\Models\Item as Accordion;

function onStart(){
    $this['projects'] = Accordion::where('category_id', 3)->get();
    $this['objectives'] = Accordion::where('category_id', 2)->get();
}
?>
==
{% component 'siteSearchInclude' %}

<div class="container-fluid hackathon_secondary_background">
    <div class="container">
        {% component 'event_banner' %}
    </div>
</div>
<div class="container-fluid table-contents">
    <div class="container">
        <a href="#the-hackathon">The Hackathon</a>
        <a href="#projects">Projects</a>
        <a href="#focus">Focus</a>
        <a href="#objective">Objectives</a>
        <a href="#expenses">Expenses</a>
        <a href="#venue">Venue</a>
        <a href="#guidelines">Guidelines</a>
        <a href="#general-contact">General Contact</a>
    </div>
</div>

<div class="container the_hackathon">
        {% component 'the_hackathon' %}
</div>

<div class="container-fluid the_hackathon_banner" id="banner">
    <div class="container">
            {% component 'the_hackathon_banner' %}
    </div>
</div>

<div class="container the_hackathon">
        {% component 'the_hackathon_txt' %}
</div>

<!-- The Projects -->
<div class="container-fluid secondary_background">
    <div class="container projects_h" id="projects">
        <h2 class="underline aos-init aos-animate" data-aos="fade-up">The projects</h2>
        <div id="projects_s" class="row projects_services text-left relative top-xs ui-accordion ui-widget ui-helper-reset" role="tablist">
            {% for pk, project in projects %}
            <div class="accordion-border key_{{pk}}"><!-- 1 --><!-- css 1 -->
                <div class="row middle-xs accordion-toggle">
                    <div class="col-xs-2 green_bullet">{{project.prefix}}</div>
    
                    <div class="col-xs start-xs">{{project.title}}</div>
    
                    <div class="col-xs-2 end-xs plusminus"><span class="plus"></span></div>
                </div>
    
                <div class="accordion-content" style="display: none;">
                    {{project.body|raw}}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-xs-12 text-center pb-1">
                <a class="btn btn-primary" href="https://b-cubed.eu/news/take-look-projects-selected-b-cubeds-hackathon" target="_blank">Find out more</a>
            </div>
        </div>
    </div>
</div>

<!-- How to apply -->
<div class="container how-to-apply" id="how-apply" style="padding-bottom:0">
    {% component 'how-apply' %}
</div>

<!-- focus -->
<div class="container-fluid secondary_background focus" id="focus">
    <div class="container">
        {% component 'focus' %}
    </div>
</div>


<div class="container objectives_h" id="objective">
    <h2 class="underline aos-init" data-aos="fade-up">OBJECTIVES</h2>
    <div id="objectives" class="row projects_services text-left relative top-xs ui-accordion ui-widget ui-helper-reset" role="tablist">
        {% for ok, objective in objectives %}
        <div class="accordion-border key_{{ok}}"><!-- 1 --><!-- css 1 -->
            <div class="row middle-xs accordion-toggle">
                <div class="col-xs-2 green_bullet"></div>

                <div class="col-xs start-xs">{{objective.title}}</div>

                <div class="col-xs-2 end-xs plusminus"><span class="plus"></span></div>
            </div>

            <div class="accordion-content" style="display: none;">
                {{objective.body|raw}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>



<div class="container-fluid secondary_background expenses mb-3" id="expenses">
    <div class="container">
        {% component 'expenses' %}
    </div>
</div>

<!-- Venue -->
<div class="container venue" id="venue">
    {% component 'venue' %}
</div>

<!-- How to get there? -->
<div class="container get-there" id="get-there" style="padding-top: 0; padding-bottom: 0;">
    <div class="row d-flex justify-content-center">
        <div class="col-xs-12 text-center relative top-xs ui-accordion ui-widget ui-helper-reset" id="get-there">
            <div class="accordion-border">
                <div class="row middle-xs accordion-toggle justify-content-center">
                    <div class="d-inline-flex align-items-center">
                        <div class="text-nowrap">How to get there?</div>
                        <div class="plusminus"><span class="plus"></span></div>
                    </div>
                </div>
                <div class="accordion-content text-left" style="display: none;">
                    {% component 'how-get-there' %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Accommodation Options -->
<div class="container get-there" id="get-there" style="padding-top: 0; padding-bottom: 0;">
    <div class="row d-flex justify-content-center">
        <div id="get-there" class="col-xs-12 text-center relative top-xs ui-accordion ui-widget ui-helper-reset">
            <div class="accordion-border">
                <div class="row middle-xs accordion-toggle justify-content-center">
                    <div class="d-inline-flex align-items-center">
                        <div class="text-nowrap">Accommodation options</div>
                        <div class="plusminus"><span class="plus"></span></div>
                    </div>
                </div>
                <div class="accordion-content" style="display: none;">
                    {% component 'accommodation-options' %}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid secondary_background">
    <div class="guidelines" id="guidelines" style="padding-top: 0; padding-bottom: 0;">
        <div class="row d-flex justify-content-center">
            <div id="guidelines" class="col-xs-12 text-center relative top-xs ui-accordion ui-widget ui-helper-reset">
                <div class="accordion-border">
                    <div class="row middle-xs accordion-toggle justify-content-center">
                        <div class="accordion-h d-inline-flex align-items-center">
                            <div class="text-nowrap"><h1>Guidelines</h1></div>
                            <div class="plusminus"><span class="plus"></span></div>
                        </div>
                    </div>
                    <div class="accordion-content text-left" style="display: none;">
                        {% component 'guidelines' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="general-contact">
    {% component 'general-contact' %}
</div>