url = "/project-materials"
layout = "default"
title = "Project materials"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[siteSearchInclude]
==
<?php
use Pensoft\Media\Models\Category;
use Pensoft\Media\Models\Flyers;
use System\Models\File;

function onStart(){
	$this['categories'] = Category::orderBy('sort_order')
		->whereHas('flyers')
		->with(['flyers' => function($query){
			$query->orderBy('sort_order');
		}])
		->get()
		->map(function($category){
			$category->slug = str_slug($category->name);
			return $category;
		});

	$this['flyers'] = Flyers::orderBy('sort_order')->get();

	if(get('download')){
		$file = File::find((int)get('download'));
		$file_name = $file->getLocalPath();
		$recordName = get('file_name') ? get('file_name') : 'b-cubed_flyer';
		$ext = $file->getExtension();

		if (file_exists($file_name)) {
			header('Content-Description: File Transfer');
			header('Content-Type: application/octet-stream');
			header("Content-Type: application/force-download");
			header('Content-Disposition: attachment; filename='.$recordName .'.'. $ext);
			header('Content-Transfer-Encoding: binary');
			header('Expires: 0');
			header('Cache-Control: must-revalidate, post-check=0, pre-check=0');
			header('Pragma: public');
			header('Content-Length: ' . filesize($file_name));
			ob_clean();
			flush();
			readfile($file_name);
			exit();
		}
		return Redirect::to('/project-materials');
	}
}
?>
==
{% component 'siteSearchInclude' %}

{% if categories.count %}
<div class="container media-tabs">
    <div class="tabs">
        <a class="" href="#all-materials">All materials</a>
        {% for category in categories %}
        <a class="" href="#{{ category.slug }}">{{ category.name }}</a>
        {% endfor %}
    </div>
</div>

<div id="all-materials">
    <div class="container flyer">
        <div class="row">
            {% for record in flyers %}
            {% partial 'components/card-flyer' record=record %}
            {% endfor %}
        </div>
    </div>
</div>

{% for category in categories %}
<div id="{{ category.slug }}">
    <div class="container flyer">
        <div class="row">
            {% for record in category.flyers %}
            {% partial 'components/card-flyer' record=record %}
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}

{% else %}
<div class="container flyer">
    <div class="row">
        {% for record in flyers %}
        {% partial 'components/card-flyer' record=record %}
        {% else %}
        No records found
        {% endfor %}
    </div>
</div>
{% endif %}
