<!-- Params
id, url, title, cover, published_at, content
-->

<article class="article category-{{category}} article-{{id}}">
    <div class="article-cover">
        <a href="{{url}}" title="{{title}}">
            <img src="{{cover}}" alt="{{title}}"/>
        </a>
    </div>
    <div class="article-body">
        <div class="article-header">
            <h2 class="article-title">
                <a href="{{url}}" class="article-link">{{title}}</a>
            </h2>
            <div class="article-share" role="toolbar" aria-label="Share article">
                <span aria-label="Share this article" class="sr-only">Share</span>
                <div class="icons" aria-hidden="true">

                </div>
            </div>
        </div>
        <time class="article-published" datetime="{{published_at}}">{{published_at}}</time>
        <div class="article-content">{{content|raw}}</div>
    </div>
</article>